<!DOCTYPE html>
<div lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdui/0.2.1/css/mdui.min.css" rel="stylesheet">
    <title>QuickReading-User information</title>
</head>
<body>
<div class="mdui-container">
<div class="mdui-divider" style="margin-top: 2%; margin-bottom: 2%"></div>
<div class="mdui-table-fluid">
    <table class="mdui-table" style="margin-bottom: 2px;">
    {%for item in result%}
        {%if item.role=="Admin"%}
        <tbody>
        <tr>
            <td>User name</td>
            <td>{{item.userName}}</td>
        </tr>
        <tr>
            <td>User email</td>
            <td>{{item.userEmial}}</td>
        </tr>
        <tr>
            <td>Role</td>
            <td>{{item.role}}</td>
        </tr>
       <tr>
            <td>Hello</td>
            <td>{{item.admin_message}}</td>
        </tr>
        </tbody>
        {%elif item.role=="VIP User"%}
        <tbody>
        <tr>
            <td>User name</td>
            <td>{{item.userName}}</td>
        </tr>

        <tr>
            <td>User email</td>
            <td>{{item.userEmial}}</td>
        </tr>
        <tr>
            <td>Role</td>
            <td>{{item.role}}</td>
        </tr>
        <tr>
            <td>Vip start date</td>
            <td>{{item.user_become_vip_time}}</td>
        </tr>

        <tr>
            <td>Vip expire date</td>
            <td>{{item.expireDate}}</td>
        </tr>
        </tbody>
        {%else%}
        <tbody>
        <tr>
            <td>User name</td>
            <td>{{item.userName}}</td>
        </tr>

        <tr>
            <td>User email</td>
            <td>{{item.userEmial}}</td>
        </tr>
        <tr>
            <td>Role</td>
            <td>{{item.role}}</td>
        </tr>
        <tr>
            <td>Warning</td>
            <td>{{item.warning_message}}
                <br>
                <a href="/pay">Pay to be VIP!</a>
            </td>
        </tr>
        </tbody>
        {%endif%}
     {%endfor%}
 </table>
</div>
    <div class="mdui-divider" style="margin-top: 1%; margin-bottom: 1%"></div>

    <span class="mdui-chip-title mdui-text-color-blue" style="margin: auto;padding-left: 45%" ><a href="/">Back homepage</a></span>
    <div class="mdui-divider" style="margin-top: 1%; margin-bottom: 1%"></div>
</div>
</body>

<style>
th, td {
    text-align: center !important;
    padding:15px;
}
table a {
    color: #337ab7 !important;
    text-decoration: none !important;
}

table a:hover {
    color: black !important;
}
</style>
</html>
</div>