<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pay for your membership!</title>
    <link rel="stylesheet" href="/static/payment/css/payment.css">
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script src="static/payment/js/paypal.js"></script>
</head>
<body>
<div class="chip">
    <img src="static/novels/img/favicon.ico" alt="Person" width="30" height="30">
    <span style="color: green"><a href="/">Home page</a></span>
</div>
{%if is_admin%}
<h2 align="center">You are the administrator, you do not need to pay to enjoy the services</h2>
{%elif is_VIP%}
<h2 align="center">Your VIP service expire date is : {{expire_date}}</h2>
{%else%}
<h2 align="center">Welcome to pay and become VIP!</h2>
{%endif%}
<h2 align="center">Select Type of Service</h2>
<br><br>
<section>
    <div>
        <input type="radio" id="control_01" name="select" value="1" checked>
        <label for="control_01">
            <h2>One Month Membership</h2>
            <p>Only 10€</p>
        </label>
    </div>
    <div>
        <input type="radio" id="control_02" name="select" value="2">
        <label for="control_02">
            <h2>Six Months Membership</h2>
            <p>Enjoy discount only 50€</p>
        </label>
    </div>
    <div>
        <input type="radio" id="control_03" name="select" value="3">
        <label for="control_03">
            <h2>One Year Membership</h2>
            <p>Premium discount only 90€</p>
        </label>
    </div>
</section>
<br><br><br><br><br>
<div id="paypal-button" align="center"></div>
</body>
</html>