<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio page with animations</title>
    <script src="https://use.typekit.net/vdk3aep.js"></script>
    <script>try {
        Typekit.load({async: true});
    } catch (e) {
    }</script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/static/payment/css/userinfo.css'>
</head>
<body>
<div class="outer">
    <i class="fa fa-arrow-circle-up" id="arrow" aria-hidden="true"></i>
    <div class="inner">
        {%for item in result%}
        <header>
            <div class="container-fluid clearfix">
                <div class="row">
                    <i class="fa fa-bars nav-toggle" aria-hidden="true"></i>
                    <nav role="navigation">
                        <i class="fa fa-times nav-toggle" aria-hidden="true"></i>
                        <ul class="list-unstyled" id="nav">
                            <li>
                                <a class="nav-link" href="/"><span>Home Page</span></a>
                                <div class="underline"></div>
                            </li>
                            <li>
                                <a class="nav-link" href="#intro"><span>Personal Info</span></a>
                                <div class="underline"></div>
                            </li>
                            <li>
                                <a class="nav-link" href="/userAdmin/bookshelf"><span>Bookshelf</span></a>
                                <div class="underline"></div>
                            </li>
                            <li>
                                <a class="nav-link" href="/userAdmin/bookmark"><span>Bookmark</span></a>
                                <div class="underline"></div>
                            </li>
                        </ul>
                    </nav>
                </div>
                <h2 class="titanic naked">Hi. {{item.userName}}</h2>
            </div>
        </header>

        <main id="main">
            <div class="container">
                <div class="row">
                    <div id="intro">
                        <br>
                        <div> Your email is {{item.userEmial}}</div>
                        {%if item.role=="Admin"%}
                        <div>You are {{item.admin_message}}</div>
                        <div>You can enjoy all of the service without paying any fee!</div>
                        {%elif item.role=="VIP User"%}
                        <div> You are {{item.role}}</div>
                        <div> Your vip start date is &nbsp;&nbsp;{{item.user_become_vip_time}}</div>
                        <div>Your vip expire date is {{item.expireDate}}</div>
                        {%else%}
                        <div>{{item.warning_message}}</div>
                        <div>You can click below and become now</div>
                        <div><a href="/pay" style="color: cornflowerblue">Pay to be VIP!</a></div>
                        {%endif%}
                    </div>
                </div>
            </div>
        </main>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                </div>
                <div class="col-xs-12">
                    <div id="contacts">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <a class="contact-link awesome" href="/">Home page</a>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <a class="contact-link awesome" href="/userAdmin/bookmarks">Bookmark</a>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <a class="contact-link awesome" href="/userAdmin/bookshelf">Bookshelf</a>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                {%if item.role=="Admin"%}
                                <a class="contact-link awesome" href="/admininterface">Admin users</a>
                                {%elif item.role=="VIP User"%}
                                <a class="contact-link awesome" href="/pay">Renew VIP</a>
                                {%else%}
                                <a class="contact-link awesome" href="/pay">Become VIP</a>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    {%endfor%}
</div>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js'></script>
<script src="/static/payment/js/userinfo.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.min.js'></script>
</body>
</html>
