{% extends "main.html" %}
{% block header %}
<title>{{ title }} - enjoy reading</title>
<link rel="stylesheet" href="static/novels/css/index.css">
{% endblock %}

{% block content %}
<div class="header">
    {% if is_login %}
    {% include "login.html" %}
    {% else %}
    <div class="login">
        <a class="btn btn-primary pull-right" href="#" role="button" data-toggle="modal" data-target="#login">Login</a>
    </div>
    {% endif %}
</div>
<div class="container">
    <form action="/search" method="get" class="home_search center-block">
        <div class="search center-block">
            <input type="text" name="wd" class="form-control center-block" placeholder="Please enter the novel's name">
            <input class="btn btn-default" type="submit" value="Search">
        </div>
    </form>
</div>
{% endblock %}
