<li class="dropdown pull-right">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
       aria-expanded="false">{{user}}
        <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li role="separator" class="divider"></li>
        <li>
            <a id="logout">
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                <span class="personal-basic">退出登录</span>
            </a>
        </li>
    </ul>
</li>