{% extends "main.html" %}

{% block header %}
<title>{{ title }} - enjoy high quality reading experience</title>
<link rel="stylesheet" href="static/novels/css/result.css">
<link rel="stylesheet" href="static/novels/css/register.css">
{% endblock %}

{% block content %}
{% include "search_bar.html" %}
<div class="container">
    <div class="register center-block">
        <h4 class="title">Register</h4>
        <form action="" method="post" role="form" id="register">
            <div class="input-group">
                <input type="text" class="sign" name="nickname" placeholder="User Name">
                <i class="glyphicon glyphicon-user icon"></i>
            </div>
            <div class="input-group">
                <input type="text" class="sign" name="email" placeholder="Your E-mail">
                <i class="glyphicon glyphicon-envelope icon"></i>
            </div>
            <div class="input-group">
                <input type="text" class="sign" name="answer" placeholder="Input: {{question}}">
                <i class="glyphicon glyphicon-question-sign icon"></i>
            </div>
            <div class="input-group">
                <input type="password" class="sign" name="password" placeholder="Your Password">
                <i class="glyphicon glyphicon-lock icon"></i>
            </div>
            <div class="input-group">
                <input type="password" class="sign sign-last" name="password2" placeholder="Repeate Password" data-container="body"
                       data-toggle="popover" data-content="">
                <i class="glyphicon glyphicon-lock icon"></i>
            </div>
            <p id="errorInfo0" class="errorInfo errorHidden0">Password(>5) && UserName(>2)</p>
            <p id="errorInfo1" class="errorInfo errorHidden1">Different password</p>
            <p id="errorInfo2" class="errorInfo errorHidden2">Not Null</p>
            <p id="errorInfo3" class="errorInfo errorHidden3">wrong email format</p>
        </form>
        <button class="btn btn-success submitBtn">Register</button>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="static/novels/js/register.js"></script>
{% endblock %}
