<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="Novels searching and reading website"/>
    <meta name="description"
          content="Quickreading - searching and reading novels"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/static/novels/img/favicon.ico"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdui/0.2.1/css/mdui.min.css" rel="stylesheet">
    <meta name="msvalidate.01" content="7F5A4F41F59B7840336A1530F6D3474E"/>
    {% block header %}{% endblock %}
    <meta name="baidu-site-verification" content="j5gv2S1IaS"/>
</head>
{% block content %}{% endblock %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdui/0.2.1/js/mdui.min.js"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.14/js/jquery.tablesorter.min.js'></script>
<script src="/searchrank/static/searchrank/js/index.js"></script>
{% block script %}{% endblock %}
</body>
</html>