{% extends "base.html" %}
{% block header %}
<title>{{ title }} - Searching rank in this website</title>
<link rel="stylesheet" href="/searchrank/static/searchrank/css/rank.css">
{% endblock %}
{% block content %}
<body>
<div class="mdui-typo">
    <img class="mdui-chip-icon" src="static/novels/img/favicon.ico"/>
    <a href="/"><span class="rank-list mdui-chip-title">QuickReading</span></a>
</div>
<div id="wrapper">
    <h1>{{first_type_title}}</h1>
    <table class="mdui-typo" id="keywords" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th><span>Rank</span></th>
            <th><span>Novel Name</span></th>
            <th><span>Search Count</span></th>
        </tr>
        </thead>
        <tbody>
        {%for each_ranking in search_ranking%}
        <tr class="lalign">
            <td>{{each_ranking.index}}</td>
            <td><a href="/search?wd={{each_ranking.keyword}}" target="_blank">{{each_ranking.keyword}}</a></td>
            <td>{{each_ranking.count}}</td>
        </tr>
        {%endfor%}
        </tbody>
    </table>
</div>
</body>
{% endblock %}
{% block script %}
<script>
    $(function () {
        $('#keywords').tablesorter();
    });
</script>
{% endblock %}
